<html>

<head>
  <title>Home/Search Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Galada|Oleo+Script+Swash+Caps" rel="stylesheet">
</head>

<body class="back">
  <h1 class="title">The Reel Deal</h1>
  <div Class="navbar">
    <a class="btn btn-primary home" href="http://localhost:8080/" role="button">Home</a>
    <form action='/search' method='GET'>
      <input placeholder="Search movies"name='searchTerm' />
      <button type='submit'>Search</button>
    </form>
  </div>
  <div class=container>
    <div class="row">
      <%if(movies.length===0){%>
        <p class="noResults">Sorry, we found 0 results for that.</p>
        <audio autoplay><source src="http://www.moviesoundclips.net/movies1/princessbride/inconceivable.mp3"></audio>
        <%}
        else{
       for (let i = 0; i < movies.length; i++) { %>
          <div class="col-xs-12, col-sm-6, col-md-4, col-lg-4">
            <% if(movies[i].poster_path===null){%>
              <div class="noImage_index">
                <p>No Image Available</P>
              </div>
              <%}
            else{%>
              <img src= <%= 'https://image.tmdb.org/t/p/w220_and_h330_bestv2' + movies[i].poster_path%> />
                <%}%>
                  <a class="smalltitle" href=<%=( "http://localhost:8080/movie/" + movies[i].id)%>>
                    <%=movies[i].title%>
                  </a>
          </div>
          <% }; %>
            <%}%>
    </div>
  </div>
</body>

</html>