.mainTitle{
      text-align:center;
      color:#1D27FF;
      font-family: 'Emilys Candy', cursive;}
.songTitle{
      color:#B20CE8;
      font-family: 'Emilys Candy', cursive;
      font-size: 30px}
.controlButtons{
      margin-left:5px;
      margin-right: 5px; 
      border-radius:50%;
      border:none; 
      text-decoration:none}
.center{
      text-align:center}
.songs{      
      display:inline-block; 
      color:white;
      font-size: 20px;
      font-family: 'Milonga', cursive; 
      padding-top: 6px}
.songs:hover{
      color:#B20CE8}
.navBar{
      background-color:#1D27FF}
.divBorder{
      border:#1D27FF solid 1px}
.controlButtons{
      border-radius:50%}
.songButton{
      background-color: black;
      border: solid 1px #B20CE8}
.buttonText{
      color:#B20CE8;
      font-size: 20px;
      font-family: 'Milonga', cursive;}
.buttonText:focus{
      color:white}
.details{
      width:1000px;
      height:auto;
      border: 2px solid #B20CE8;
      display:block;
      margin-right:auto;
      margin-left:auto; 
       margin-top:20px}
.cover{
      height:225px;
      width:225px;
      display:block;
       margin-right:auto;
        margin-left:auto;
      margin-bottom: 10px}
.detailInfo{ 
      color:#B20CE8;
      font-size:20px;
      font-family: 'Milonga', cursive;}
.detailButton{
      margin-right:auto;
      margin-left:auto; 
      display: block;
      margin-bottom:10px}
